html,body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color : #101820FF;
  overflow-x: hidden;
  background-attachment: fixed;
  scroll-behavior: smooth;
  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

nav{
  background: rgb(1, 20, 37,0.8);
}
.nav-item{
  font-size: 20px;
  margin: 2px;
}
.container-fluid{
  padding: 0;
}

.do{
  height: 27rem;
  overflow: hidden;
}
footer{
  background-color: rgba(17, 13, 29, 0.404);
  color: rgb(141, 165, 189);
  padding: 1rem;

}
footer a{
  color: rgb(141, 165, 189);
  
}
footer img{
  border-radius: 40px;
}

.loader{

  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whisper__Wrapper-k8uff3-0{
  margin: auto;
}
.land{

  background-color: black;
}
#dashboard{
  padding-left: 4rem;
  padding-right: 4rem;
}
.land-left{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{

  height: 100%;
  width: 100%;



}
.land-right{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lnd-txt{
  color: rgb(141, 165, 189);
  font-weight: 10vh;
  font-size: 10vh;
  text-align: center;

}
.db-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.coll-list{
  margin-top: 7rem;
  color: rgb(155, 155, 155);
  min-height: 60vh;
}
.list-heading{
  border: 2px solid rgb(55, 80, 112);
  color: white;
  border-radius: 1rem;
  background-color: rgb(55, 80, 112);
  height: 3rem;
}
.list-items{
  border: 0px solid rgb(55, 80, 112,0.3);
  color: rgb(194, 191, 191);
  border-radius: 10rem;
  background-color: rgb(55, 80, 112,0.3);
  height: 2rem;
  margin-top: 1vh;
}
.coll-list .col-2, .col-3{
  display: flex;
  align-items:center;
  justify-content: center;
}
@media (max-width: 549px) {
  #face {

    padding-top: 1rem;
    /* Apply some styles */
  }
  .lnd-txt{
    font-size: 6vh;
  }
}